@mixin buttonBase {
    box-sizing: border-box;
    background-color: hsla(210, 100%, 56%, 0.5);
    border: none;
    padding: 5px;
    margin-right: 15px;
    border-radius: 6px;
    transition:
        padding 0.2s ease,
        opacity 0.2s ease;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        opacity: 0.5;
        transform: scale(1.04);
    }

    &:active {
        opacity: 1;
        transform: scale(1.04);
    }
}

.buttonIcon {
    @include buttonBase;
    width: 40px;
}

.buttonLogReg {
    @include buttonBase;
    margin-bottom: 10px;
    height: 30px;
    width: 220px;
}